body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: ;
    place-items: center;
    height: 100vh; /* oder eine feste Höhe */
  }
  
 
  
  

.todo-app {
    max-width: 900px;
    width: 90%;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.text {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.todo-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
}

.todo-input  {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    
}

.submit {
    background-color: #0078d7;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
}

.todo-button:hover {
    background-color: #005bb5;
    padding: 10px 20px;
    
}

.todo-list {
    list-style: none;
}

.todo-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    
}

.todo-list li input[type="checkbox"] {
    margin-right: 10px;
    font-size: 1rem;
}

.todo-list li input[type="checkbox"]:active {
    text-decoration: line-through;
}

.todo-list li button {
    background-color: #d9534f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.todo-list li button:hover {
    background-color: #c9302c;
    padding: 5px 10px;
 
}

.info {
    text-align: center;
    font-size: 0,9rem;
    color: #666666;
    margin-top: 20px;
}